In [2]:
# !pip install mysql-python

In [3]:
import mysql.connector as conn

In [5]:
db = conn.connect(host='localhost', user='root', password="")
db

In [6]:
db.close()

In [23]:
def create_db_conn(host='localhost', user='root', password="", db_name=""):
    try:
        if db_name != "":
            db = conn.connect(host=host, user=user, password=password, database=db_name)
            return db 
        else:
            db = conn.connect(host=host, user=user, password=password)
            return db
    except Exception as e:
        print(e)

In [27]:
def create_db(db_name):
    try:
        conn = create_db_conn()
        cursor = conn.cursor()
        sql = "CREATE DATABASE {}".format(db_name)
        cursor.execute(sql)
        cursor.close()
        conn.close()
    except Exception as e:
        print(e)

In [42]:
def create_table(db_name, table_name):
    try:
        conn = create_db_conn(db_name=db_name)
        cursor = conn.cursor()
        sql = "CREATE TABLE {}(id integer primary key auto_increment, name varchar(255), dept varchar(255))".format(table_name)
        cursor.execute(sql)
        cursor.close()
        conn.close()
    except Exception as e:
        print(e)

In [40]:
def insert_data_into_table(db_name, table_name, stu_id, name, dept):
    try:
        conn = create_db_conn(db_name=db_name)
        cursor = conn.cursor()
        sql = "INSERT INTO {}(id, name, dept) VALUES(%s, %s, %s)".format(table_name)
        values = (stu_id, name, dept)
        cursor.execute(sql, values)
        conn.commit()
        cursor.close()
        conn.close()
    except Exception as e:
        print(e)

In [43]:
create_db("student")
create_table("student", "stu_info")
insert_data_into_table("student", "stu_info", "0", "Abu Jafor", "CSE")

1007 (HY000): Can't create database 'student'; database exists

In [ ]:
def fetch_data_from_table(db_name, table_name):
    try:
        conn = create_db_conn(db_name=db_name)
        cursor = conn.cursor()
        sql = "SELECT * FROM ".format(table_name)
        values = (stu_id, name, dept)
        cursor.execute(sql, values)
        conn.commit()
        cursor.close()
        conn.close()
    except Exception as e:
        print(e)